<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <style type="text/css" media="screen">

      body {
        min-height: 100%;
        background: linear-gradient(180deg, #F88B4E 0%, #F8B44E 102.36%);
        /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }

    </style>
    {% block stylesheet %}{% endblock %}
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'web:index' %}"><img src="{% static 'image/logo.png' %}" alt="" id="brand-logo"></a>
          <!-- {% if request.user.is_authenticated %}
            <h4 class="py-0">Hello, {{ user.username }}</h4>
          {% endif %} -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-light font-poppins" href="{% url 'web:index' %}">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light font-poppins" href="https://profil.aitc.co.id/tentang-kami">Tentang Kami</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light font-poppins" href="https://profil.aitc.co.id/portofolio">Portofolio</a>
              </li>
              <li class="nav-item mr-1">
                <a class="nav-link text-light font-poppins" href="https://profil.aitc.co.id/hubungi-kami">Kontak Kami</a>
              </li>
            </ul><emsp>
            {% if request.user.is_authenticated %}
            <a class="btn-styled" href="{% url 'web:logout' %}">Logout</a>
            {% else %}
            <a class="btn-styled mr-1" href="{% url 'web:login' %}">Login</a>
            <a class="btn-styled" href="{% url 'web:register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock %}
    <!-- <div class="ellipse-1"></div><div class="ellipse-2"></div><div class="ellipse-3"></div> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
